@import 'tailwindcss';

* {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  @apply bg-teal-400 h-[10rem];
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  @apply bg-slate-400;
}

body {
  scrollbar-color: green;
}

.hamburger-line {
  @apply w-[15px] h-[2px] mb-[2px] block bg-slate-600;
}

.hamburger-active span:nth-child(1) {
  @apply bg-red-500 translate-x-[2px] rotate-[35deg];
}

.hamburger-active span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active span:nth-child(3) {
  @apply bg-red-500 -rotate-[35deg];
}

.beranda-nav::after {
  content: '';
  width: 100%;
  height: 2px;
  background: blue;
  display: block;
  transform: scaleX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Saat elemen aktif */
.beranda-nav.active::after {
  transform: scaleX(0.5);
  transition: 0.1s ease-in-out;
}

.beranda-nav.active:hover::after {
  @apply bg-slate-400;
}

/* nav tentang saya */
.tentang-saya::after {
  content: '';
  width: 100%;
  height: 2px;
  background: blue;
  display: block;
  transform: scaleX(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Saat elemen aktif */
.tentang-saya.active::after {
  transform: scaleX(0.5);
  transition: 0.1s ease-in-out;
}

.tentang-saya.active:hover::after {
  @apply bg-slate-400;
}

/* portfolio nav */
.portfolio::after {
  content: '';
  width: 100%;
  height: 2px;
  background: blue;
  display: block;
  transform: scaleX(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Saat elemen aktif */
.portfolio.active::after {
  transform: scaleX(0.5);
  transition: 0.1s ease-in-out;
}

.portfolio.active:hover::after {
  @apply bg-slate-400;
}

/* clients nav */
.clients::after {
  content: '';
  width: 100%;
  height: 2px;
  background: blue;
  display: block;
  transform: scaleX(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Saat elemen aktif */
.clients.active::after {
  transform: scaleX(0.5);
  transition: 0.1s ease-in-out;
}

.clients.active:hover::after {
  @apply bg-slate-400;
}

/* kontak nav */
.kontak::after {
  content: '';
  width: 100%;
  height: 2px;
  background: blue;
  display: block;
  transform: scaleX(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Saat elemen aktif */
.kontak.active::after {
  transform: scaleX(0.5);
  transition: 0.1s ease-in-out;
}

.kontak.active:hover::after {
  @apply bg-slate-400;
}

/* certif */
section.certif::-webkit-scrollbar {
  display: none;
}
